<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Y.SAID!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'assets/bootstrap/css/bootstrap.min.css'
        'assets/font-awesome/css/font-awesome.min.css'

        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ asset('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
        <script src="{{ asset('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>
        <![endif]-->


    {% endblock %}
</head>
<body id="page-top">
{% block body %}{% endblock %}

{% block javascripts %}
    {#<!-- BEGIN CORE PLUGINS -->#}
    {% javascripts
    'assets/jquery/jquery.min.js'
    'assets/bootstrap/js/bootstrap.min.js'
    'bundles/fosjsrouting/js/router.js' %}
    {#<!-- END CORE PLUGINS -->#}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
